<<<<<<< HEAD:app/views/static_pages/about.html.erb
=======

>>>>>>> filling-in-layout:app/views/static_pages/about_path.html.erb
<h1>About</h1>
<p>We are a venture based in Mumbai. Serving the society from the past 12 years.</p>
