
<div class="center hero-unit">
<h1>Yogkala</h1>
<h2>Welcome to Yogkala. The site is under construction. Namaste</h2>
<%= link_to "Sign up now!", '#' , class: "btn btn-large btn-primary" %>
</div>
<center><%= image_tag("1.jpg", alt: "1", size: "450x450") %></center></td>

