<div class="center hero-unit">
 
  <h1>Sign Up</h1>

  <h2>
   Be the member of Yogkala and know the healthy way of Life!
  </h2>

  <%= link_to "Sign up now!", '#' , class: "btn btn-large btn-primary" %>
</div>
 
 <!DOCTYPE html>
<html>
   <style type="text/css">
     table,td
     table
     {
      width:100%;  
     }
     td
     {
     	height: 200px
     }
   </style>

<body>
<table>
 <tr>
  <td> <center> <%= link_to image_tag("yogkala.png", alt: "Yogkala"), 'http://yogkala.herokuapp.com/' %>
 </center></td>
</tr></table>
</body>
</html>




