<footer class="footer">
  
  <nav>
    <ul>
      <li><%= link_to "About", 'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
  © copyright 2008 All rights reserved.
</footer>