<footer class="footer">
  <small>
    <a href="http://google.com">Google</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://about.me/jineshpatel">About</a></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>